/* RESET CSS  */
* {
  margin: 0;
  padding: 0;
}

/* General Rules */
body {
  font-family: sans-serif;
  line-height: 19px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.product-card {
  border-radius: 3px;
  box-shadow: 0 0 20px #ddd;
  border: 1px solid #ddd;
  padding: 10px;
  height: 379px;
  width: 231px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.product-img {
  height: 180px;
  margin: 10px;
  text-align: center;
}

.star {
  width: 10px;
  cursor: pointer;
}

.product-row-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* justify-content: space-between; */
}

.product-comments {
  color: #999;
  font-size: 10px;
  margin-left: 4px;
  cursor: pointer;
}

.product-price {
  font-size: 16px;
  font-weight: 800;
  color: #f27a1a;
  line-height: 20px;
  cursor: pointer;
}
.product-title {
  font-weight: bold;
}
.product-button {
  align-self: center;
  justify-self: center;
  border: 2px solid #f27a1a;
  border-radius: 3px;
  line-height: 28px;
  margin: 0 0 9px 0;
  color: #f27a1a;
  text-align: center;
  cursor: pointer;
  height: 28px;
  width: 196px;
}

.product-button:hover {
  background-color: #f27a1a;
  color: #fff;
}
