/* RESET CSS  */
* {
  margin: 0;
  padding: 0;
}

/* General Rules */
body {
  font-family: sans-serif;
  background-color: #d3dedc;
  text-align: center;
}

h1 {
  margin: 20px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Flexbox */
.tab-bar {
  width: 500px;
  height: 100px;
  margin: auto;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #9ad0ec;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.tab-bar-item {
  width: 80px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tab-bar-item-icon {
  padding-bottom: 5px;
}
