/* RESET CSS  */
* {
  margin: 0;
  padding: 0;
}

/* General Rules */
body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.card {
  margin-bottom: 20px;
  width: 400px;
  height: 150px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px #ddd;
}

.content {
  flex-shrink: 1;
  padding-left: 15px;
}
.content-title {
  margin-bottom: 10px;
}

.icon-arrow,
.svg {
  flex-shrink: 0;
}
