/* RESET CSS  */
* {
  margin: 0;
  padding: 0;
}

/* General Rules */
body {
  font-family: sans-serif;
  background-color: #d3dedc;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  background-color: #fff9f9;
  border-radius: 25px;
  width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.player-function {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 100%;
  height: 50px;
}

.player-timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

/* There is no progress icon or functionality in this project. */
.time-progress {
  width: 70%;
  height: 5px;
  background-color: black;
}
