* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e8e8e8;
}

.mail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 550px;
  height: 550px;
  left: 443px;
  top: 40px;
}
